[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=superapp
Exec=/usr/bin/single-instance /opt/superapp/bin/superapp
Icon=/usr/share/icons/hicolor/80x80/apps/superapp80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
